body {
	background-color: rgb(251, 254, 233);
}
h1 {
	color: red;
	text-decoration: underline;
	font-family: "Helvetica";
	text-align: right;
}
.main {
	text-align: right;
	position: relative
}
img {
	position: absolute;
}
#logo {
	float:right;
}